h1, p, input {
    font-family: 'Ubuntu', sans-serif;
}

#speechContainer {
    margin: 20px;
}

#submitButton {
    background-color: #0191FE;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
}

#submitButton:hover {
    cursor: pointer;
}

#speechContainer {
    margin-top: 20px;
}

#convertedText {
    font-size: 18px;
    width: 50px;
}